*{
    box-sizing: border-box;
    vertical-align: top;
    /*font-family: ;*/
}
:root{

}

body{
    width: 90%;
    margin: auto;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form section{
    padding: 5%;
}